---
layout: default
---

<div class="home">

  <h3 class="page-heading">Getting Started</h3>

  <ul class="post-list">
    {% for post in site.categories.Introduction %}
      <li>
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </li>
    {% endfor %}
  </ul>

  <h3 class="page-heading">Mathematics Review</h3>
  <ul class="post-list">
    {% for post in site.categories.Mathematics-Review %}
      <li>
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </li>
    {% endfor %}
  </ul>

  <h3 class="page-heading">Kinematics</h3>
  <ul class="post-list">
    {% for post in site.categories.Kinematics %}
      <li>
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </li>
    {% endfor %}
  </ul>

  <h3 class="page-heading">Dynamics</h3>

</div>
