<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.data.settings.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% for item in site.data.settings.menu %}
            <li><a href="{{ site.github.url }}{{ item.file }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>Follow Us</li>
          {% for item in site.data.settings.social %}
            <li><a href="{{ item.link }}"><i class="fa fa-{{ item.icon }}" aria-hidden="true" target="_blank"></i></a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.data.settings.description }}</p>
      </div>
    </div>

  </div>

</footer>
